* {
  box-sizing: border-box;
}
.inp {
  position: relative;
  margin: 1.5rem auto;
  width: 100%;
}
.inp .label1 {
  position: absolute;
  top: -3rems;
  left: 0;
  font-size: 20px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp textarea {
  -webkit-appearance: none;
  border-radius: 5px;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  /*height: 100%;*/
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
   overflow: hidden;
}
.inp textarea:hover {
  background: rgba(34,50,84,0.03);
}
.inp textarea:not(:placeholder-shown) + span {
  color: #00A4EF;
  transform: translateY(-5px) scale(0.7);
}
.inp textarea:focus {
  background: none;
  border: none;
  outline: none;
}
.inp textarea:focus + span {
  color: #07f;
  transform: translateY(-5px) scale(0.7);
}
.inp textarea:focus + span + .border {
  transform: scaleX(1);
}
